/dist
/temp
build/
__pycache__
.DS_Store
.gradle
.cache
.pytest_cache
.coverage
.swp
.eggs
.vscode/
*.iml
*.pem
*.pyc
*.log
*.log.*
*.egg-info
*.tar.gz
*.pytest_cache
*.bak
sdist/
.env
.venv
env/
venv/
venv
ENV/
env.bak/
venv.bak/
lambda/packages