/dist
/temp
build/
__pycache__
.DS_Store
.gradle
.cache
.pytest_cache
.coverage
.swp
.eggs
.vscode/
*.iml
*.pem
*.pyc
*.log
*.log.*
*.egg-info
*.tar.gz
*.pytest_cache
*.bak
sdist/
.env
.venv
env/
venv/
venv
ENV/
env.bak/
venv.bak/

#AWS
lambda/packages

#Terraform
**/.terraform/*
.terraform.lock.*
*.tfstate
*.tfstate.*
crash.log
*.tfvars
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraformrc
terraform.rc
